  name: ‘eks’
  on:
    pull_request:
      branches:
        - main
    workflow_dispatch:
  jobs:
    eks_deployment:
      runs-on: ubuntu-latest
      steps:
        - name: checkout code
          uses: actions/checkout@v1
        - name: Login to DockerHub
          uses: docker/login-action@v1
          with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}
        - name: Maven build
          run: |
            sudo apt update
            mvn clean package spring-boot:repackage
        - uses: actions/setup-node@v2
        # Generates a BoM and uploads it to OWASP Dependency Track
        - name: Generates BoM and upload to OWASP DTrack
          id: riskscoreFromDT
          uses: Quobis/action-owasp-dependecy-track-check@main
          with:
            url: "http://54.208.64.159:8080"
            key: "kCJ6ebWQpX9Y7NKGFT9dtVvCHMy0lkbU"
            language: "java"
        - name: Official SonarQube Scan
          uses: sonarsource/sonarqube-scan-action@master
          env:
            SONAR_TOKEN: "721f36c18302e3ad420d8ff5de13561e9eae4be3"
            SONAR_HOST_URL: "http://18.212.15.49:9000"
        # save the HTML in the artifact
        - name: Use the Upload Artifacta GitHub Action
          uses: actions/upload-artifact@v2
          with:
            name: results
            path: downloads
        - name: Docker push
          run: |
            docker tag cartservice:0.0.1-SNAPSHOT sponmuth/cartservice
            docker push sponmuth/cartservice
        - name: EKS deployment
          env:
            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          run: |
            aws eks --region us-east-1 update-kubeconfig --name OpenSourceObservabilityStack
            kubectl apply -f deployment.yml
            kubectl apply -f service.yml



#  name: ‘eks’
#  on:
#    pull_request:
#      branches:
#        - main
#    workflow_dispatch:
#  jobs:
#    sonarqube:
#      runs-on: ubuntu-latest
#      steps:
#        - uses: actions/checkout@v2
#          with:
#            # Disabling shallow clone is recommended for improving relevancy of reporting
#            fetch-depth: 0
#        - name: SonarQube Scan
#          uses: sonarsource/sonarqube-scan-action@master
#          env:
#            SONAR_TOKEN: "721f36c18302e3ad420d8ff5de13561e9eae4be3"
#            SONAR_HOST_URL: "http://18.212.15.49:9000"